*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
tailwindcss filter=lfs diff=lfs merge=lfs -text
static/full_images/2fcb93c4f453e5caecdae8e65db8f123.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/469bd401c76cd1aa7b08bbec511d3f16.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/573506dd06553465e28617136e1aef34.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/6118da96f4623cca15e96498abe4a509.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/64060791c89655d280a6a01eea8a8a47.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/6d5eac97f945ec5241c00eb3fa1eb348.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/7051b5a4804d48045fff84866923d34a.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/7364ccb5e7ff145e56014d70ec0295b4.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/83929419be13d5a71b23bfd71344fe0b.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/8de3ef84b322b64b75fe4933e7545d31.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/97de8f5bdf4130e623b34d490b875c4b.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/9c977ace249cd50836bbea9d67a683d7.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/a618c0887b8ce99af3e1a93dabbfedb9.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/a6caf22b0c107f3b8dbd9b4f8049ff48.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/cb7e8833775e2cbe11bc116219f7e09d.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/da86431f8f1e56a48f408e8f4241d057.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/e9b12992381a860d5cfcdb9e4660a4ee.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/f312dcc7af79cf0e756c792ab66b5643.jpg filter=lfs diff=lfs merge=lfs -text
static/full_images/f7785696541fc185bc1d10c8608b8100.jpg filter=lfs diff=lfs merge=lfs -text
static/img/colpali_child.png filter=lfs diff=lfs merge=lfs -text
static/img/vespa-colpali.png filter=lfs diff=lfs merge=lfs -text
static/img/visual-retrieval-demoapp-arch.png filter=lfs diff=lfs merge=lfs -text
